:root{
    /* Dark Mode */
    --text-color-dark: #FFFFFF;
    --stroke-color-dark: #ffffff85;
    --surface-color-dark: #ffffff0a;
    --surface-color-dark-hover: #ffffff05;
    --highlight-color-dark: #ffffff1a;
    --background-img-mobile-dark: url("./assets/bg-mobile.jpg");
    --background-img-desktop-dark: url("./assets/bg-desktop.jpg");
    --avatar-img-dark: url("./assets/avatar.png");
    --switch-icon-dark: url("./assets/moon-stars.svg");
    
    /* Light Mode */
    --text-color-light: #000000;
    --stroke-color-light: #00000085;
    --surface-color-light: #0000000a;
    --surface-color-light-hover: #00000005;
    --highlight-color-light: #0000001a;
    --background-img-mobile-light: url("./assets/bg-mobile-light.jpg");
    --background-img-desktop-light: url("./assets/bg-desktop-light.jpg");
    --avatar-img-light: url("./assets/avatar-light.png");
    --switch-icon-light: url("./assets/sun.svg");

    --text-medium: 500 16px/24px Inter;
    --text-small: 400 14px/24px Inter;
}

body {
    font: var(--text-medium); 
    background-image: var(--background-img-mobile-dark);
    color: var(--text-color-dark);
    text-align: center;
}
#profile{
    padding: 24px;

    & img{
        margin-inline: auto auto;
        height: 112px;
        width: 112px;
    }
}

#switch > span{
    display: inline-block;
    width: 64px;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--surface-color-dark);
    border-color: var(--stroke-color-dark);
    border-style: solid;
    border-width: 1px;
    margin-block: 7px;
}

#switch > button {
    height: 2.5rem;
    z-index: 1;
    width: 2.5rem;
    border-radius: 24px;
    border-style: solid;
    position: absolute;
    background-image: url("./assets/moon-stars.svg");
    background-repeat: no-repeat;
    background-position: center;

}

button:hover{
    border-style: solid;
    border-color: var(--surface-color-dark-hover);
}

a{
    color: var(--text-color-dark);
}
ul{
    margin: 1.5rem;
    padding: 0;
}
li{
    list-style-type: none;
    margin-block: 1rem;
    padding-block: 0.5rem;
    background-color: var(--surface-color-dark);
    border-style: solid;
    border-width: 1px;
    border-color: var(--stroke-color-dark);
    border-radius: 0.5rem;
}
li a{
    text-decoration: none;
}