:root{
    /* Dark Mode */
    --text-color: #FFFFFF;
    --stroke-color: #ffffff85;
    --surface-color: #ffffff0a;
    --surface-color-hover: #ffffff05;
    --highlight-color: #ffffff1a;
    --background-img-mobile: url("./assets/bg-mobile.jpg");
    --background-img-desktop: url("./assets/bg-desktop.jpg");
    --avatar-img: url("./assets/avatar.png");
    --switch-icon: url("./assets/moon-stars.svg");
    --switch-button-position: translateX(-50%);
    
    --text-medium: 500 16px/24px Inter;
    --text-small: 400 14px/24px Inter;
}

.light{
    /* Light Mode */
    --text-color: #000000;
    --stroke-color: #00000085;
    --surface-color: #0000000a;
    --surface-color-hover: #00000005;
    --highlight-color: #0000001a;
    --background-img-mobile: url("./assets/bg-mobile-light.jpg");
    --background-img-desktop: url("./assets/bg-desktop-light.jpg");
    --avatar-img: url("./assets/avatar-light.png");
    --switch-icon: url("./assets/sun.svg");
    --switch-button-position: translateX(50%);
}

body {
    margin: 0;  
    font: var(--text-medium); 
    background-image: var(--background-img-mobile);
    background-size: cover;
    color: var(--text-color);
    text-align: center;
    background-position: top center;
    height: 100svh;
}
#container{
    display: grid;
    margin-top: 3.5rem;
}
#profile{
    padding: 24px;

    & img{
        margin-inline: auto auto;
        height: 112px;
        width: 112px;
    }

    & p{
        font: var(--text-small);
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
}

#switch > span{
    display: inline-block;
    width: 64px;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--surface-color);
    border-color: var(--stroke-color);
    border-style: solid;
    border-width: 1px;
    margin-block: 3px;
}

#switch > button {
    height: 2rem;
    z-index: 1;
    width: 2rem;
    border-radius: 24px;
    border: none;
    position: absolute;
    background-image: var(--switch-icon);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    animation: slide-back 0.2s;
    transform: var(--switch-button-position);
}

#switch > button:hover{
    outline: 8px solid var(--highlight-color);
}

.light #switch button {
    animation: slide-in 0.2s forwards;
}

a{
    color: var(--text-color);
}

ul{
    margin: 0;
    padding: 1.5rem;
    
    & li{
        list-style-type: none;
        margin-bottom: 1rem;
        padding-block: 0.5rem;
        background-color: var(--surface-color);
        border-style: solid;
        border-width: 1px;
        border-color: var(--stroke-color);
        border-radius: 0.5rem;
    
        & a{
            text-decoration: none;
        }
    }
}

li:last-child{
    margin-bottom: 0;
}

li:hover{
    background-color: var(--surface-color-hover);
    border-color: var(--text-color);
    transition: 0.2s;
}

#social-links{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;

    & ion-icon{
        height: 1.5rem;
        width: 1.5rem;
        transform: translateY(10%);
    }

    & a{
        height: 40px;
        width: 40px;
        border-radius: 1.5rem;
        align-content: center;
    }
    
    & a:hover{
        background-color: var(--highlight-color);
        transition: 0.2s;
    }
}

footer{
    padding: 1.5rem;
    font: var(--text-small);
}

@media (min-width: 720px) {
    body{
        background-image: var(--background-img-desktop);
    }
    #container{
        max-width: 580px;
        margin-inline: auto;
    }
}
@keyframes slide-in {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(150%);
    }
  }
  
  @keyframes slide-back {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(-50%);
    }
  }