:root{
    /* Dark Mode */
    --text-color-dark: #FFFFFF;
    --stroke-color-dark: #ffffff85;
    --surface-color-dark: #ffffff0a;
    --surface-color-dark-hover: #ffffff05;
    --highlight-color-dark: #ffffff1a;
    --background-img-mobile-dark: url("./assets/bg-mobile.jpg");
    --background-img-desktop-dark: url("./assets/bg-desktop.jpg");
    --avatar-img-dark: url("./assets/avatar.png");
    --switch-icon-dark: url("./assets/moon-stars.svg");
    
    /* Light Mode */
    --text-color-light: #000000;
    --stroke-color-light: #00000085;
    --surface-color-light: #0000000a;
    --surface-color-light-hover: #00000005;
    --highlight-color-light: #0000001a;
    --background-img-mobile-light: url("./assets/bg-mobile-light.jpg");
    --background-img-desktop-light: url("./assets/bg-desktop-light.jpg");
    --avatar-img-light: url("./assets/avatar-light.png");
    --switch-icon-light: url("./assets/sun.svg");

    --text-medium: 500 16px/24px Inter;
    --text-small: 400 14px/24px Inter;
}

body {
    padding-top: 50px;
    margin: 0;  
    font: var(--text-medium); 
    background-image: var(--background-img-mobile-dark);
    background-size: cover;
    color: var(--text-color-dark);
    text-align: center;
}
#container{
    display: grid;
}
#profile{
    padding: 24px;

    & img{
        margin-inline: auto auto;
        height: 112px;
        width: 112px;
    }
}

#switch > span{
    display: inline-block;
    width: 64px;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--surface-color-dark);
    border-color: var(--stroke-color-dark);
    border-style: solid;
    border-width: 1px;
    margin-block: 7px;
}

#switch > button {
    height: 2.5rem;
    z-index: 1;
    width: 2.5rem;
    border-radius: 24px;
    border: none;
    position: absolute;
    background-image: url("./assets/moon-stars.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--text-color-dark);
}

button:hover{
    border: 5px solid var(--highlight-color-dark);
}

a{
    color: var(--text-color-dark);
}
ul{
    margin: 0;
    padding: 1.5rem;
}
li{
    list-style-type: none;
    margin-bottom: 1rem;
    padding-block: 0.5rem;
    background-color: var(--surface-color-dark);
    border-style: solid;
    border-width: 1px;
    border-color: var(--stroke-color-dark);
    border-radius: 0.5rem;
}
li:last-child{
    margin-bottom: 0;
}

li:hover{
    background-color: var(--surface-color-dark-hover);
    border-color: var(--text-color-dark);
}

li a{
    text-decoration: none;
}

#social-links{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5rem;

    & ion-icon{
        height: 1.5rem;
        width: 1.5rem;
        transform: translateY(10%);
    }

    & a{
        height: 40px;
        width: 40px;
        border-radius: 1.5rem;
        align-content: center;
    }
    
    & a:hover{
        background-color: var(--highlight-color-dark);
    }
}

footer{
    padding: 1.5rem;
}

@media (min-width: 720px) {
    body{
        background-image: var(--background-img-desktop-dark);
        background-size: cover;
    }
    #container{
        max-width: 580px;
        margin-inline: auto;
    }
}